#image {
   padding-top: 100px;

}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 188px;
   margin-top: 50px;

}

.box {
   display: flex;
   flex-direction: column;
   border-radius: 3px;
   padding: 20px 20px 20px 20px;
   border: 1px solid rgb(66, 65, 65);
   box-shadow: 0 0 10px rgb(82, 82, 82);
   justify-content: center;

   font-size: 25px;
   font-family: 'Courier New', Courier, monospace;
   width: 25%;
   text-align: left;


}

.guest {
   background: white;
   border-radius: 2px;
   border: 1px solid white;
   height: 30px;
   box-shadow: 0 0 10px rgb(230, 230, 230);

   width: 45%
}

.login {
   background: linear-gradient(to top right, #0099ff 38%, #33ccff 80%);
   border-radius: 2px;
   border: 1px solid #0099ff;
   height: 30px;
   color: white;
   width: 49%;
   box-shadow: 0 0 10px #9ecaed;

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.input {
   height: 20px;
   border: 2px solid #dadada;
   border-radius: 7px;
   font-size: 20px;
   padding: 5px;
}

button:hover {
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 10px #9ecaed;

}

.input:focus {
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 10px #9ecaed;
}

#head {
   text-align: center;
}

.signup {
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width:429px) {
   .box {
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      padding: 20px 20px 20px 20px;
      border: 1px solid rgb(66, 65, 65);
      box-shadow: 0 0 10px rgb(82, 82, 82);
      justify-content: center;

      font-size: 25px;
      font-family: 'Courier New', Courier, monospace;
      width: 50%;
      text-align: left;


   }
}