#header {
  position: sticky;
  top: 0;
  border: 2px rgba(0, 148, 217, 255);
  margin: -10px -10px -10px -10px;
  overflow: auto;
  height: max-content;
  z-index: 10;

  /* padding-bottom: -300px; */

  background-color: rgba(0, 148, 217, 255);
}

.cartButton{
  position: absolute;
  right:30px;
  bottom: 60px;
}
#logo {
  position: relative;
  top: 20px;
  left: 50px;
}

#search {
  position: relative;
  left: 60px;
  bottom: 30px;
  border-radius: 10px;
  height: 30px;
}

#search_button {
  position: relative;
  left: 70px;
  bottom: 23px;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
  font-size: 22px;
}

a:hover {
  background-color: black;
}

.filter {
  height: 100%;
}

.table1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
}

.table2 {
  height: max-content;
  width: 300px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;

  margin-top: 20px;
  background-color: antiquewhite;
  border: 2px solid black;
  box-shadow: 10px 10px;
  border-radius: 8px;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: 22% 78%;
  grid-auto-rows: max-content;
  grid-gap: 1px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: left;
}

.add:hover {
  border: 2px solid blueviolet;
  color: red;
}

#p {
  display: inline;
  position: absolute;
  right: 120px;
  bottom: -20px;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#logout {
  display: inline;
  position: absolute;
  right: 20px;
  bottom: 4px;
  font-size: 20px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 8px;

  color: white;

}

.res {
  width: 60%
}

@media screen and (max-width:1000px) {
  #logo {
    position: relative;
    top: 20px;
    left: 10px;
  }
}

@media screen and (min-width:600px) and (max-width:1000px) {
  #search {
    position: relative;
    left: 35px;
    width: 300px;
    bottom: 20px;
    border-radius: 5px;
    height: 30px;

  }

}

@media screen and (max-width:1000px) {
  #search_button {
    position: relative;
    left: 40px;
    bottom: 14px;
  }
}

@media screen and (max-width:1000px) {
  #navigation {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 125px;
  }
}

@media screen and (max-width:1000px) {
  #p {
    display: inline;
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width:783px) {
  #logo {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

  }
}

@media screen and (max-width:783px) {
  #search {
    position: relative;
    left: 13%;
    width: 400px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 5px;

  }
}

@media screen and (max-width:783px) {

  #search_button {
    position: relative;
    left: -100px;
    bottom: -3px;
  }

}

@media screen and (max-width:783px) {

  #p {
    display: inline;
    width:fit-content;
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

}

@media screen and (max-width:783px) {
  #logout {
    display: inline;
    position: absolute;
    right: 20px;
    bottom: 13px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;

  }
}

@media screen and (max-width:633px) {
  #search {
    position: relative;
    left: 12%;
    width: 300px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 5px;

  }
}

@media screen and (max-width:633px) {
  #search_button {
    position: relative;
    left: -70px;
    bottom: -3px;
  }
}

@media screen and (max-width:533px) {
  #search {
    position: relative;
    left: 4%;
    width: 250px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 5px;

  }
}
@media screen and (max-width:533px) {

  #p {
    display: inline;
    width:fit-content;
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

}

@media screen and (max-width:533px) {
  #search_button {
    position: relative;
    left: -100px;
    bottom: -3px;
  }
}

@media screen and (max-width:533px) {
  #logo {
    position: relative;
    top: 0px;
    left: 30%;
    transform: translateX(-50%);

  }
}

@media screen and (max-width:429px) {
  .grid-item {
    display: none;

  }
}

@media screen and (max-width:429px) {
  #search_button {
    position: relative;
    left: 150px;
    bottom: -3px;
  }
}

@media screen and (max-width:417px) {
  #logo {
    position: relative;
    width: 32%;
    top: 0px;
    left: 53%;
    transform: translateX(-50%);

  }
}

@media screen and (max-width:417px) {
  #search {
    position: relative;
    left: 20%;
    width: 250px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 5px;

  }
}

@media screen and (max-width:417px) {
  #search_button {
    position: relative;
    left: 43%;
    bottom: 1px;
  }
}

@media screen and (max-width:417px) {
  #p {
    display: inline;
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width:417px) {
  #logout {
    display: inline;
    position: absolute;
    height: fit-content;
    right: 10px;
    top: 20px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;

  }
}

@media screen and (max-width:375px) {
  #search {
    position: relative;
    left: 52%;
    width: 250px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 5px;
  }
}

@media screen and (max-width:375px) {
  #search_button {
    position: relative;
    left: -90px;
    bottom: -10px;
  }
}

@media screen and (max-width:340px) {
  #p {
    display: inline;
    position: absolute;
    left: 5px;
    top: 1px;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media screen and (max-width:322px) {
  #search_button {
    position: relative;
    left: -115px;
    bottom: -10px;
  }
}